.App {
    width: 95%;
    margin: 2vmin auto;
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
    border: 10px solid #444;
}

body {
    background-color: #1D2228;
    font: 1em helvetica-neue, verdana, sans-serif;
}

img {
    margin: 0.5vmin;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #E1E2E2;
}

.App-link {
    color: #61dafb;
}

textarea{
    max-width: 50%;
    width: 99%;
    border: 1px solid #229cfb;
    margin: 1.5vmin auto;
    padding: 1vmin;
    background: #222;
    display: block;
    height: 3rem;
    border-radius: 0.8vmin;
    color: #fff !important;
}

label{
    color: #E1E2E2;
}

input {
    margin: 0.5vmin;
    background: #222;
    border: 1px solid #229cfb;
    padding: 0.5vmin;
    width: 14vmin;
    border-radius: 0.3vmin;
}

textarea, input { color: #fff !important; }

button {
    background: #444;
    color: #fff;
    border: 1px solid #FB8122;
    margin: 1vmin;
    padding: 0.5vmin;
}

button:hover {
    border: 1px solid #229cfb;
}

button:disabled, button:disabled:hover, input:disabled {
    background: #000;
    color: #999 !important;
    border: none !important;
}

.timer{
    align-self: unset;
    margin: 0.5em auto;
    display: block;
    width: 20%;
    color: #FB8122;
    font: italic small-caps bold 1.5em Georgia, serif;
}

.inline-block{
    display: inline-block;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: #222;
    color: #E1E2E2;
    text-align: center;
    font: 0.95em monospace;
    padding: 1vmin;
    border: 2px solid #E1E2E2;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 105%;
    left: 0%;

    /* Fade in tooltip */
    opacity: 0;
    /*transition: opacity 0.3s;*/
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.drop_zone {
    cursor: pointer;
}